__pycache__
venv
.vscode
*.env
.venv/
__pycache__/
.eraserdiagram
endpoints.txt
dump/
*.log
staticfiles/
nohup.out
dump.rdb
celerybeat-schedule.db
celerybeat-schedule
frontendfilterUsecase.txt
/apis/core
cloudinaryURLdownloader.py
jsonconverter.py
service-account-key.json